<!DOCTYPE html>
<html>
<head>
  <title>Wallet-2015</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
body {

    background-image: url("http://www.yaharapridefarms.org/wp-content/uploads/2013/06/website-background-vintage-apple-retro-jpeg-the-best-ipad.jpg");
   
}
h1
{
font-size:200%;
text-align : center;
color: red;
text-decoration: underline;


}
body
{
color:red;
}
table,th,td
{
border-style: dotted solid;
border-color: white;
}

</style>
<body>
<h1>Web Application Assignment : My Wallet</h1>
<div class="container">
<div class="masthead">
        
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="/">Home</a></li>
            <%if current_user %><li><a href="/costs">Expenses</a></li><%end%>
            <li><%= render 'users/menu/registration_items' %></li>
            <li><%= render 'users/menu/login_items' %></li>
          </ul>
        </nav>
      </div>
<% if current_user %>
<br><div style="width:90%;color:white;font-weight:bold">
<% @income_total = current_user.income.amount if current_user.income.present?%>
<div style="float:left;">Your Income Amount: <b><%= @income_total.present? ? @income_total : '0 '%>$</b></div>
<% @expenses_total = current_user.costs.map(&:amount).sum unless current_user.costs.blank?%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Expenses Total: <%= @expenses_total.present? ? @expenses_total : '0 '%>$
<% if @expenses_total.present? %>
<div style="float:right">Savings($): <%= @income_total - @expenses_total unless @income_total.blank? || @expenses_total.blank?%></div></div>
<% end %>
<% if @expenses_total.blank? %>
<div style="float:right">Savings($): <%= @income_total unless @income_total.blank? %></div></div>
<% end %>
<% if current_user.income.present? && current_user.income.limit.present? && @expenses_total.present? %>
<% if @expenses_total > current_user.income.limit %>
 <div style="color:red;">Your expenses have exceeded from LIMIT-<%= current_user.income.limit %></div>
<% end %>
<% end %>
<%elsif controller_name == 'home'%>
<br><br><center>
<%= image_tag 'wapp4.jpg', :style => 'border-radius: 30px 30px 30px 30px;'%><br><br>
</center> 
<% end %>
<%= yield %>
</div>
</body>
</html>
